HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### OS / Editors ###
.DS_Store
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Vaadin frontend generated ###
node_modules/
src/main/frontend/generated/
vite.generated.ts